---
BasedOnStyle: LLVM
IndentWidth: 4
---
Language: Cpp
PointerAlignment: Left
AccessModifierOffset: -4
IndentAccessModifiers: False
AlignAfterOpenBracket: BlockIndent
BinPackArguments: false
BinPackParameters: false
QualifierAlignment: Left # only available from clang-format 14
---
